@model MVC_Proyecto_GRM.Models.Empleados

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h2 class="card-title">Editando Empleado</h2>
            <h4 class="card-body">>>> ID: @Html.ValueFor(d => d.EmpleadoId) <<<</h4>
        </div>
    </div>
</div>

@using (Html.BeginForm("EmpleadoEditar", "Empleados", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(d => d.EmpleadoId)
            <div>
                @Html.LabelFor(d => d.Nombre, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.ApellidoP, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.ApellidoP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ApellidoP, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.ApellidoM, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.ApellidoM, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ApellidoM, "", new { @class = "red" })
            </div>            
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Salario, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Salario, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Salario, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Puesto, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Puesto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Puesto, "", new { @class = "red" })
            </div>
            <div>
                @Html.Label("Dirección", null, new { @class = "lblTitulo" })
                @Html.DropDownListFor(d => d.DireccionId, new SelectList(ViewBag.ListaDirecciones, "DireccionId", "Direccion"), new { @class = "form-control" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}