@model List<MVC_Proyecto_GRM.Models.ViewModels.Empleados.EmpleadosListar>
@{
    ViewBag.Title = "Listar Empleados";
}

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title">@ViewBag.Title</h1>
            <p class="card-text">
                <small>
                    Para recordar como se manejan las acciones clic
                    @Html.ActionLink("aquí", "About", "Home", new { area = "" }, new { @class = "text-primary" }).
                </small>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 m-md-2" style="text-align: right;">
        <a href="~/Empleados/EmpleadoAgregar" class="btn btn-primary">Agregar Empleado</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">

            <tr class="bg-warning text-center">
                <th style="width: 10%;">ID Empleado</th>
                <th style="width: 15%;">Dirección</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Salario</th>
                <th>Puesto</th>
                <th>Acciones</th>
            </tr>

            @foreach (var Elemento in Model)
            {
                <tr class="text-center">
                    <td>@Elemento.EmpleadoId</td>
                    <td>@Elemento.Direccion</td>
                    <td>@Elemento.Nombre</td>
                    <td>@Elemento.ApellidoP</td>
                    <td>@Elemento.ApellidoM</td>
                    <td>@Elemento.Salario</td>
                    <td>@Elemento.Puesto</td>
                    <td>
                        <a class="btn btn-warning" href="~/Empleados/EmpleadoEditar/@Elemento.EmpleadoId"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="~/Empleados/EmpleadoEliminar/@Elemento.EmpleadoId"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

