@model MVC_Proyecto_GRM.Models.Clientes

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("ClienteEditar", "Clientes", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.ClienteId)
            <div>
                @Html.LabelFor(d => d.Nombre, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.ApellidoP, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.ApellidoP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ApellidoP, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.ApellidoM, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.ApellidoM, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ApellidoM, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.Telefono, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Telefono, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.NumLicencia, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.NumLicencia, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NumLicencia, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.FechaVencimientoLicencia, null, new { @class = "lblTitulo" })<br />
                @Html.EditorFor(d => d.FechaVencimientoLicencia, "", new { @class = "date" })
                @Html.ValidationMessageFor(d => d.FechaVencimientoLicencia, "", new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.Label("Dirección", null, new { @class = "lblTitulo" })
                @Html.DropDownListFor(d => d.DireccionId, new SelectList(ViewBag.ListaDirecciones, "DireccionId", "Direccion"), new { @class = "form-control" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}