@model List<MVC_Proyecto_GRM.Models.ViewModels.Clientes.ClientesListar>
@{
    ViewBag.Title = "Listar Clientes";
}

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title">@ViewBag.Title</h1>
            <p class="card-text">
                <small>
                    Para recordar como se manejan las acciones clic
                    @Html.ActionLink("aquí", "About", "Home", new { area = "" }, new { @class = "text-primary" }).
                </small>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 m-md-2" style="text-align: right;">
        <a href="~/Clientes/ClienteAgregar" class="btn btn-primary">Agregar Cliente</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">

            <tr class="bg-warning text-center">
                <th style="width: 10%;">ID Cliente</th>
                <th style="width: 15%;">Dirección</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Teléfono</th>
                <th>Número de Licencia</th>
                <th>Fecha Vencimiento Licencia</th>
                <th style="width: 10%;">Acciones</th>
            </tr>

            @foreach (var Elemento in Model)
            {
                <tr class="text-center">
                    <td>@Elemento.ClienteId</td>
                    <td>@Elemento.Dirección</td>
                    <td>@Elemento.Nombre</td>
                    <td>@Elemento.ApellidoP</td>
                    <td>@Elemento.ApellidoM</td>
                    <td>@Elemento.Telefono</td>
                    <td>@Elemento.NumLicencia</td>
                    <td>@Elemento.FechaVencimientoLicencia</td>
                    <td>
                        <a class="btn btn-warning" href="~/Clientes/ClienteEditar/@Elemento.ClienteId"><i class="fa-solid fa-pen-to-square"></i></a><br />
                        <a class="btn btn-danger" href="~/Clientes/ClienteEliminar/@Elemento.ClienteId"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

