@model MVC_Proyecto_GRM.Models.ViewModels.Rentas.RentaAgregar
@{
    ViewBag.Title = "Agregar una nueva renta";
}

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("RentaAgregar", "Rentas", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.VehiculoId)
                @Html.TextBoxFor(d => d.VehiculoId, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.VehiculoId, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.ClienteId)
                @Html.TextBoxFor(d => d.ClienteId, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ClienteId, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.EmpleadoId)
                @Html.TextBoxFor(d => d.EmpleadoId, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.EmpleadoId, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Costo)
                @Html.TextBoxFor(d => d.Costo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Costo, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.FechaRenta)
                @Html.TextBoxFor(d => d.FechaRenta, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaRenta, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.FechaRentaFin)
                @Html.TextBoxFor(d => d.FechaRentaFin, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaRentaFin, "", new { @class = "red" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}