@model MVC_Proyecto_GRM.Models.ViewModels.Direcciones.DireccionAgregar
@{
    ViewBag.Title = "Agregar una nueva dirección";
}

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title">@ViewBag.Title</h1>
        </div>
    </div>
</div>

@using (Html.BeginForm("DireccionAgregar", "Direcciones", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Calle, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Calle, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Calle, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Numero, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Numero, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Numero, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Colonia, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Colonia, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Colonia, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.CP, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.CP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.CP, "", new { @class = "red" })
            </div>            
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Municipio, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Municipio, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Municipio, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Ciudad, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Ciudad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Ciudad, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Estado, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Estado, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Estado, "", new { @class = "red" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}