@model List<MVC_Proyecto_GRM.Models.ViewModels.Mantenimientos.MantenimientosListar>
@{
    ViewBag.Title = "Listar Mantenimientos";
}

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title">@ViewBag.Title</h1>
            <p class="card-text">
                <small>
                    Para recordar como se manejan las acciones clic
                    @Html.ActionLink("aquí", "About", "Home", new { area = "" }, new { @class = "text-primary" }).
                </small>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 m-md-2" style="text-align: right;">
        <a href="~/Mantenimientos/MantenimientoAgregar" class="btn btn-primary">Agregar Mantenimiento</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">

            <tr class="bg-warning text-center">
                <th style="width: 15%;">ID Mantenimiento</th>
                <th>Vehículo</th>
                <th>Nota</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>

            @foreach (var Elemento in Model)
            {
                <tr class="text-center">
                    <td>@Elemento.MantenimientoId</td>
                    <td>@Elemento.Vehiculo</td>
                    <td>@Elemento.Nota</td>
                    <td>@Elemento.Fecha</td>
                    <td>
                        <a class="btn btn-warning" href="~/Mantenimientos/MantenimientoEditar/@Elemento.MantenimientoId"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="~/Mantenimientos/MantenimientoEliminar/@Elemento.MantenimientoId"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
