@model MVC_Proyecto_GRM.Models.Mantenimientos

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h2 class="card-title">Editando Mantenimiento</h2>
            <h4 class="card-body">>>> ID: @Html.ValueFor(d => d.MantenimientoId) <<<</h4>
        </div>
    </div>
</div>

@using (Html.BeginForm("MantenimientoEditar", "Mantenimientos", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(d => d.MantenimientoId)
            <div>
                @Html.Label("Vehículo", null, new { @class = "lblTitulo" })
                @Html.DropDownListFor(d => d.VehiculoId, new SelectList(ViewBag.ListaVehiculos, "VehiculoId", "Info"), new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.Nota, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Nota, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nota, "", new { @class = "red" })
            </div>            
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Fecha, null, new { @class = "lblTitulo" })<br />
                @Html.EditorFor(d => d.Fecha, "", new { @class = "date" })
                @Html.ValidationMessageFor(d => d.Fecha, "", new { @class = "red" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}