@model MVC_Proyecto_GRM.Models.Vehiculos

<div class="row p-md-2">
    <div class="card text-bg-dark">
        <img src="/Recursos/wp-1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h2 class="card-title">Editando vehículo</h2>
            <h4 class="card-body">>>> ID: @Html.ValueFor(d => d.VehiculoId) <<<</h4>
        </div>
    </div>
</div>

@using (Html.BeginForm("VehiculoEditar", "Vehiculos", FormMethod.Post))    // Metodo, Controller, Post Method
{
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(d => d.VehiculoId)
            <div>
                @Html.LabelFor(d => d.Matricula, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Matricula, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.Matricula, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Marca, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Marca, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.Marca, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Modelo, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Modelo, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.Modelo, "", new { @class = "red" })
            </div>            
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Capacidad, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Capacidad, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.Capacidad, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Kilometraje, null, new { @class = "lblTitulo" })
                @Html.TextBoxFor(d => d.Kilometraje, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Kilometraje, "", new { @class = "red" })
            </div>
            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}